body {
  font-family: "Playfair Display", serif;
  font-style: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #626266;
}

.wraper {
  width: 900px;
  margin: 0 auto;
}

.navigation ul {
  text-align: center;
}

.navigation li {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 75px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation li {
  text-transform: uppercase;
}

.navigation__link {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
  text-decoration: none;
}

.navigation__link:hover {
  font-family: "Playfair Display", serif;
  color: #03a9f4;
}

.navigator li a:hover {
  font-family: "Playfair Display", serif;
  color: #03a9f4;
}
.posts-wrap {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.post {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  font-size: 14px;
}
.post:nth-child(even) {
  margin-right: 0;
}

.article {
  display: inline-block;
  width: 420px;
}

.article:nth-child(odd) {
  margin-right: 50px;
}

.article:not(:nth-last-child(-n + 2)) {
  margin-bottom: 60px;
}
.post.category {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font: 300 14px "ubuntu", sans-serif;
  color: #b4ad9e;
  margin-top: 26px;
  margin-bottom: 130px;
}

.post:nth-last-child(-n + 2) {
  margin-bottom: 55px;
}

.post img {
  display: block;
  width: 100;
  height: auto;
}

.article h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 35px;
}

.btn-more {
  display: block;
  border-width: 1px;
  border-color: #626262;
  border-style: solid;
  margin: auto;
  width: 160px;
  height: 60px;
  margin: 50px auto 0;
}
.p {
  font-family: "Ubuntu", sans-serif;
}

.category {
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}

main {
  padding-bottom: 80px;
}
